@font-face {
    font-family: 'Precious';
    src: url('../../fonts/Precious.ttf') format('truetype');
}

body {
    font-family: 'Dosis';
    padding-bottom: 50px;
}

.jumbotron {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../img/hero-image.jpg');
    background-size: cover;
    padding-bottom: 100px;
    color: #bcd;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);

    .page-header {
        font-family: 'Precious', cursive;
        font-size: 90px;
        border: none;
        padding-top: 50px;
    }
}

.add-match {
    margin-right: 10px;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background: #d15;
    border: 1px solid #d15;

    &:hover {
        background: darken(#d15, 10);
        border: 1px solid darken(#d15, 10);
    }

    &:active:focus {
        background: lighten(#d15, 10);
        border: 1px solid lighten(#d15, 10);
    }

    &:focus {
        background: lighten(#d15, 10);
        border: 1px solid lighten(#d15, 10);
    }
}

.modal-content .btn-primary {
    margin-right: 10px;
}

table {
    width: 500px;
    font-size: 18px;
    border-color: #e9b;

    thead {
        font-size: 20px;
    }

    .main-char {
        width: 50px;

        img {
            height: 18px;
        }
    }
    
    .score {
        width: 60px;
    }

    td, tr th {
        padding: 5px;
    }

    tr th:first-of-type {
        width: 60px;
        text-align: center;
    }

    img.flag {
        margin-top: -5px;
    }

    .team-name {
        font-weight: bold;
        color: #2ad;
    }

    thead tr {
        background: #923;
        color: #fed;
    }

    tr {
        background: lighten(#e9b, 20);
    }

}