article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
}

.App {
  text-align: center;
  width: 100%;
}

header {
  height: 50vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/hero-image.jpg");
  position: relative;
  background-size: cover;
}

header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bcd;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 1);
}

header .admin-buttons {
  position: absolute;
  top: 15px;
  right: 10%;
}

header .admin-buttons a:not(:last-of-type) {
  margin-right: 10px;
}

header .admin-buttons a,
form input[type="submit"],
.admin-button {
  display: inline-block;
  text-decoration: none;
  background: #923;
  color: #f4c9a5;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
}

header .admin-buttons a:hover,
form input[type="submit"]:hover,
.admin-button:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background: #8a1b2a;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
}

.login h3 {
  font-size: 1.4rem;
}

.login form {
  max-width: 480px;
  width: 95%;
  margin: 0 auto;
}

.add-tournament form {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
}

form input:not([type="submit"]),
form textarea {
  width: 100%;
  font-size: 1.1rem;
  padding: 3px 5px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #e9a7c6;
}

form textarea {
  border-top: 1px solid #b3cde0;
  border-left: 1px solid #b3cde0;
  border-right: 1px solid #e9a7c6;
  height: 400px;
}

form textarea:active {
  border-bottom: 1px solid #b3cde0;
  border-right: 1px solid #b3cde0;
  border-top: 1px solid #e9a7c6;
  border-left: 1px solid #e9a7c6;
}

form input[type="submit"] {
  width: 100%;
  border: 0;
}

form input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset[disabled="true"] {
  opacity: 0.5;
}

fieldset::before {
  height: 10px;
  content: "";
  display: block;
  background-image: linear-gradient(
    to right,
    #e9a7c6 0%,
    #b3cde0 50%,
    #e9a7c6 100%
  );
  margin-bottom: 20px;
}

fieldset[aria-busy="true"]::before {
  background-size: 50% auto;
  animation: loading 0.5s linear infinite;
}

.player-list {
  margin-top: 50px;
}

.player-list .grid-container {
  display: grid;
  grid-auto-rows: 1fr;
  width: 95%;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;
}

.player-list .grid-container .grid-row {
  display: grid;
  grid-template-columns: 7% 47% 12% 19% 15%;
}

.player-list .grid-container a {
  text-decoration: none;
  color: #000;
}

select[name="sorting"] {
  margin-bottom: 25px;
  margin-left: 10px;
}

.grid-row.grid-header {
  background: #923;
  color: #f4c9a5;
}

.grid-header {
  font-weight: bold;
}

.grid-row > div {
  padding: 5px 7px;
  border: 1px solid #e9a7c6;
}

.player-list .grid-container div > p {
  margin: 0;
}

p.loading {
  text-align: center;
}

p.error-message {
  text-align: left;
}

p.error-message span {
  font-weight: bold;
  color: #923;
}

.player .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
